Webpack (export/import)
Задачи:
  ES6 - разработка на последних стандартах JS
  Babel - совместимость со старыми браузерами
  Scss - препроцессор стилей
  Eslint - Проверка стиля и чистоты кода
  Сборка проекта в двух режимах:
    - Dev
      - Dev Server - автоматическая пересборка проекта при изменении
      - SourceMap - карта кода, для поиска ошибок в JS & CSS, понимание в каком именно файле произошла ошибка
      - Eslint
      - Not Minified JS & CSS отключение минификации кода

    - Prod
      - Minified Code

Git
  Production
    1.0.0
    ----
  Development
    1.0.2
    1------  pool request - 1. запрос на совмещение изменений 2. Обсуждение командой 3. доработка 4. добавление изменений 5. удаление ветки
    2-------
